/RSI_ZAD7/nbproject/private/
/RSI_ZAD7/build/
/RSI_ZAD7_Client/nbproject/private/
/RSI_ZAD7_Client/build/
/RSI_ZAD7_Server/nbproject/private/
/RSI_ZAD7_Server/build/
/RSI_ZAD7_Server/dist/
/RSI_ZAD7_Client/dist/